<footer id="gtco-footer" class="gtco-section" role="contentinfo">
    <div class="gtco-container">
        <div class="row row-pb-md">
            <div class="col-md-4 gtco-widget gtco-footer-paragraph">
                <h3>디우스 주식회사</h3>
                <p>디지털 인공지능 기술개발.</p>
            </div>
            <div class="col-md-8 gtco-footer-link">
                <div class="row">
                    <div class="col-md-8">
						<div class="gtco-contact-info">
							<ul >
								<li class="address">경기 하남시 검단산로 239 하남시벤처센터 405호</li>
								<li class="phone"><a href="tel://07082593470">070-8259-3470</a></li>
								<li class="email"><a href="#">soju68@gmail.com</a></li>
							</ul>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>