<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo"><a href="/"><img src="divusImages/logo.png" alt="디우스 주식회사"></a></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li id="nav-login" style="display: inline-block;"><a href="login">login</a></li>
                    <li id="nav-logout" style="display: none;"><a href="/">logout</a></li>
                    <li id="demo"><a href="DamageDetection">Damage Detection</a></li>
                    <li id="steel"><a href="textRecognition">TextRecognition</a></li>
                    <li id="steel"><a href="vin">VIN-Recognition</a></li>
                    <li id="demo"><a href="anpr">ANPR</a></li>
                    <!-- 
                    <li id="demo"><a href="Evaluation">Evaluation</a></li>
                    <li id="demo"><a href="CarSegment">Car Segment</a></li>
                    <li id="demo"><a href="CarPartSegment">Car Part Segment</a></li>
                    -->
                    <!-- <li id="contact"><a href="contact">문의하기</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</nav>