<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo"><a href="/"><img src="divusImages/logo.png" alt="디우스 주식회사"></a></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li id="userCont" class="userCont"></li>
                    <li id="demo"><a href="DemoDamageDetection">Damage Detection</a></li>
                    <li id="steel"><a href="textRecognition">TextRecognition</a></li>
                    <li id="steel"><a href="vin">VIN-Recognition</a></li>
                    <!-- 
                    <li id="demo"><a href="DemoType2">Evaluation</a></li>
                    <li id="demo"><a href="DemoTypeSeg">Car Segment</a></li>
                    <li id="demo"><a href="DemoTypePartSeg">Car Part Segment</a></li>
                    <li id="demo"><a href="DemoTypeAnpr">ANPR</a></li>
                    -->
                    <li id="contact"><a href="contact">문의하기</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>