<!DOCTYPE HTML>
<!--
	Cube by FreeHTML5.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://freehtml5.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Divus</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="shortcut icon" href="divusImages/favicon.ico" type="image/x-icon">
    <link rel="icon" href="divusImages/favicon.ico" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="css/themify-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<link rel="stylesheet" href="css/uploadStyle.css">
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>

	<script src="js/style.js"></script>
	<script src="js/demoTestPartSeg.js"></script>					
	<!-- Main -->
	<script src="js/main.js"></script>

	<style> 
	#loading { 
		width: 100%; 
		height: 100%; 
		top: 0px; 
		left: 0px; 
		position: fixed; 
		display: block; 
		opacity: 0.7; 
		background-color: #fff; 
		z-index: 99; text-align: 
		center; 
	} 
	#loading-image { 
		position: absolute; 
		top: 50%;
		left: 50%;
		margin-top: -100px;
		margin-left: -100px;
		z-index: 100;
	
    }
    .popup_panel { display: none; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 100;}
    .popup_panel div.popup_bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background:#000; opacity:.5; filter:alpha(opacity=50); }
    .popup_panel div.popup_contents { position: absolute; top: 50%; left: 50%; width: 1200px; height: 500px; border:2px solid #1ACEA6; background-color:#fff; border-radius: 9px;}

	.legend { float: left; position: absolute; top: 450px; list-style: none; }
    </style>
    
	</head>
	<body>
	<div class="gtco-loader"></div>
    <div id="loading" style="display: none;"><img id="loading-image" src="images/loading.gif" alt="Loading..."/></div>
    <div class="popup_panel">
        <div class="popup_bg"></div>
        <div class="popup_contents" style="position: relative;">
            <a href="javascript:void(0)" id="btn_popup_close" style="margin-left: 10px;">팝업 닫기</a>
            <div id="resultImages" style="padding: 30px 30px 30px30px;">
				<div id="resultCar" style="width: 500px; height: 412px; float: left; border: 1px solid black; margin-left: 45px;">
					<p>Car Image</p>
                </div>
                <div id="resultCarSeg" style="width: 500px; height: 412px; float: left; border: 1px solid black; margin-left: 50px;">
                    <p>Car Part Segment</p>
				</div>
			</div>
			<!-- <div style="width: 500px;">
				<ul class="legend">
					<li>
						<span style="background-color: rgb(250, 0, 0); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Front Fender (L)</p>
					</li>
					<li>
						<span style="background-color: rgb(34, 34, 214); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Rear Fender (L)</p>
					</li>
					<li>
						<span style="background-color: rgb(200, 50, 50); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Staff (L)</p>
					</li>
					<li>
						<span style="background-color: rgb(94, 94, 154); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Front Fender (R)</p>
					</li>
					<li>
						<span style="background-color: rgb(150, 100, 100); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Rear Fender (R)</p>
					</li>
				</ul>
				<ul class="legend" style="left: 200px;">
					<li>
						<span style="background-color: rgb(10, 10, 230); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Staff (R)</p>
					</li>
					<li>
						<span style="background-color: rgb(100, 150, 150); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Front bumper</p>
					</li>
					<li>
						<span style="background-color: rgb(30, 230, 30); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Rear bumper</p>
					</li>
					<li>
						<span style="background-color: rgb(50, 200, 200); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Front Door (L)</p>
					</li>
					<li>
						<span style="background-color: rgb(15, 240, 15); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Rear Door (L)</p>
					</li>
				</ul>
				<ul class="legend" style="left: 400px;">
					<li>
						<span style="background-color: rgb(0, 250, 250); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Side View Mirror (L)</p>
					</li>
					<li>
						<span style="background-color: rgb(80, 180, 80); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Front Wheel (L)</p>
					</li>
					<li>
						<span style="background-color: rgb(40, 125, 40); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Rear Wheel (L)</p>
					</li>
					<li>
						<span style="background-color: rgb(65, 190, 65); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Head Lamp (L)</p>
					</li>
					<li>
						<span style="background-color: rgb(90, 165, 90); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Tail Lamp (L)</p>
					</li>
				</ul>
				<ul class="legend" style="left: 600px;">
					<li>
						<span style="background-color: rgb(115, 140, 115); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Fog Lamp (FL)</p>
					</li>
					<li>
						<span style="background-color: rgb(140, 115, 140); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Fog Lamp (RL)</p>
					</li>
					<li>
						<span style="background-color: rgb(165, 90, 165); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Front Door (R)</p>
					</li>
					<li>
						<span style="background-color: rgb(214, 214, 34); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Rear Door (R)</p>
					</li>
					<li>
						<span style="background-color: rgb(55, 205, 55); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Side View Mirror (R)</p>
					</li>
				</ul>
				<ul class="legend" style="left: 800px;">
					<li>
						<span style="background-color: rgb(240, 15, 240); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Front Wheel (R)</p>
					</li>
					<li>
						<span style="background-color: rgb(125, 125, 125); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Rear Wheel (R)</p>
					</li>
					<li>
						<span style="background-color: rgb(154, 154, 94); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Head Lamp (R)</p>
					</li>
					<li>
						<span style="background-color: rgb(4, 4, 244); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Tail Lamp (R)</p>
					</li>
					<li>
						<span style="background-color: rgb(25, 225, 225); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Fog Lamp (FR)</p>
					</li>
				</ul>
				<ul class="legend" style="left: 1000px;">
					<li>
						<span style="background-color: rgb(105, 155, 105); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Fog Lamp (RR)</p>
					</li>
					<li>
						<span style="background-color: rgb(130, 130, 130); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Rediator Grille</p>
					</li>
					<li>
						<span style="background-color: rgb(155, 105, 155); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Bonnet/Hood</p>
					</li>
					<li>
						<span style="background-color: rgb(180, 80, 180); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Trunk Door</p>
					</li>
					<li>
						<span style="background-color: rgb(32, 32, 208); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Roof</p>
					</li>
					<li>
						<span style="background-color: rgb(230, 30, 230); width: 15px; height: 15px; display: block; float: left;"></span>
						<p style="float: left; padding-left: 10px;">Rear Light</p>
					</li>
				</ul>
			</div> -->
        </div>
    </div>
	<div id="page">
		<th:block th:replace="include/top.html"></th:block>
		<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="display-t">
							<div class="display-tc">
								<div class="row">
									<div class="col-md-8 animate-box">
										<h1 class="no-margin">Car Part Segment Page</h1>
										<!--
										<p>차량에 데미지를 AI를 통해 Scratch, Dent, Crack을 분별하는 Car Damage Detection를 경험 해보세요.</p>
										-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- END #gtco-header -->

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
		<div class="container center" style="padding-top: 500px; padding-bottom: 200px;">
			<div class="row">
                <div class="col-md-12" style="position: relative;">
                    <h1 class="fontColor" style="font-weight: lighter; font-size: 50px; padding-top: 200px;">Car Part Segment Page</h1>
					<p style="font-size: 12px;">자동차 부위 인식 기능을 확인해보세요!</p>
				</div>
			</div>
			<form>
				<div id="demoCon" class="container" style="padding-top: 20px; width: 800px;">
					<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
						<div style="float: left">
							<h3 style="color: #1ACEA6;">
								전체 이미지
							</h3>
							<div style="border: solid 1px black; border-radius: 5px; display: block; width: 360px; height: 530px; padding: 30px;">
								<ul id="thumbnailList" style="list-style: none; float: left; height: 470px; overflow: scroll; overflow-x: hidden; padding-left: 0;"></ul>
							</div>
						</div>
						<div style="float: left;">
							<h3 style="color: #1ACEA6;">
								선택된 이미지
							</h3>
							<div style="border: 1px solid black; border-radius: 5px; display: block; width: 430px; height: 530px; margin-left: 10px; padding: 10px;">
								<ul id="selectedList" style="list-style: none; float: left; height: 500px; overflow: hidden; overflow-x: hidden; padding-left: 0;"></ul>
							</div>
						</div>
					</div>
				</div>
			</form>
        </div>
		<!-- END .gtco-services -->
		<th:block th:replace="include/footer.html"></th:block>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	</body>
</html>

