<!DOCTYPE HTML>
<!--
	Cube by FreeHTML5.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://freehtml5.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Divus</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="shortcut icon" href="divusImages/favicon.ico" type="image/x-icon">
    <link rel="icon" href="divusImages/favicon.ico" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="css/themify-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>

	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	<style> 
		#loading { 
			width: 100%; 
			height: 100%; 
			top: 0px; 
			left: 0px; 
			position: fixed; 
			display: block; 
			opacity: 0.7; 
			background-color: #fff; 
			z-index: 99; text-align: 
			center; 
		} 
		#loading-image { 
			position: absolute; 
			top: 50%;
			left: 50%;
			margin-top: -100px;
			margin-left: -100px;
			z-index: 100; 
		}
	</style>

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
		<th:block th:replace="include/top.html"></th:block>
		<header id="gtco-header" class="gtco-cover" role="banner">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="display-t">
							<div class="display-tc">
								<div class="row">
                                        <!--
										<div class="col-md-5 text-center header-img animate-box">
											<div class="shadow p-3 mb-5 bg-white rounded"><img src="divusImages/mosaYv1J30.png" alt="Free HTML5 Website Template by FreeHTML5.co"></div>
										</div>
										-->
										<div class="col-md-7 copy animate-box">
										<h1>We are leading the image processing field as a deep learning company.<br>Divus.</h1>
										<p>딥러닝 전문업체로 이미지처리 분야를 선두해나가는 회사.<br>디우스 주식회사.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- END #gtco-header -->

		<div class="gtco-services gtco-section">
			<div class="gtco-container">
				<div class="row row-pb-sm">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>회사소개</h2>
						<p>디우스는 2019년 이미지 AI처리를 하고자하는 목표로 도전을 시작했고,
							인공지능을 통한 시각화에 비젼을 세우고 비정형데이타 처리기술의 R&D투자를 계속해오고 있습니다.
							AI개발의 서비스가 더 스마트하게 서비스 되는것을 목표로 새로운 가치를 발견하기 위해 노력하고 있습니다.</p>
					</div>
				</div>
				<div class="row row-pb-md">
					<div class="col-md-4 col-sm-4 service-wrap">
						<div class="service">
							<h3><i class="ti-target"></i> AI</h3>
							<p>이미지처리와 미디어 학습을 통해 가장 스마트한 데이타 서비스를 제공합니다.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 service-wrap">
						<div class="service animate-change">
							<h3><i class="ti-server"></i> BigData</h3>
							<p>빅데이타 분석을 통하여 정확한 결과치를 약속하며 고객의 가치를 우선시합니다.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 service-wrap">
						<div class="service">
							<h3><i class="ti-settings"></i> Development</h3>
							<p>디우스는 AI개발을 통하여 데이타가치를 높이는 비지니스 성과를 추구합니다.</p>
						</div>
					</div>
					<div class="clearfix visible-md-block visible-sm-block"></div>
				</div>
			</div>
		</div>

		<div class="gtco-section gtco-testimonial gtco-gray">
			<div class="gtco-container">

				<div class="row row-pb-sm">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>제품 및 서비스</h2>
						<p>미래를 위한 비지니스 경쟁력 제고</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-sm-6 animate-box">
						<div class="gtco-testimony gtco-left">
							<div>
								<img src="divusImages/worldmap.png">
							</div>
							<blockquote>
								<p>&ldquo;디우스는 제품의 품질, 상태 등을 육안검사에 의존하여 방식에서 영상에 의한 딥러닝 기반의 솔루션을 개발하여 이를 대체하고
									자동화하는 솔루션을 개발하고 있는 회사입니다.&rdquo; 
									<!--<cite class="author">&mdash; Ferdinand A. Porsche</cite>-->
								</p>
							</blockquote>	
						</div>
					</div>
					<div class="col-md-6 col-sm-6 animate-box">
						<div class="gtco-testimony gtco-left">
							<div><img src="divusImages/ai.png"></div>
							<blockquote>
								<p>Category별 자동분류 / 계층분류<br>
									외형분석, Text처리, 이미지 크롭핑<br>
									데이타 처리 기법 향상, 데이타 비율계산, 데이타 향후 움직임 예측 </p>
							</blockquote>	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 animate-box">
						<div class="gtco-testimony gtco-left">
							<div><img src="divusImages/bigdata.png"></div>
							<blockquote>
								<p>대용량 정보 크롤링<br>
									실시간 이미지 정보처리<br>
									다양한 시스템 체계와의 연계<br>
									File / DB / 동영상 / Image
								</p>
									<!--<cite class="author">&mdash; Steve Jobs</cite> -->
							</blockquote>	
						</div>
					</div>
					<div class="col-md-6 col-sm-6 animate-box">
						<div class="gtco-testimony gtco-left">
							<div><img src="divusImages/cpu.png"></div>
							<blockquote>
								<p>대용량 미디어 컨텐츠 관리<br>
									모바일서비스를 통한 원격관리<br>
									빅데이타 처리 기법을 통한 서비스 향상</p>
							</blockquote>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gtco-section gtco-products">
			<div class="gtco-container">
				<div class="row row-pb-sm">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>오시는 길</h2>
						<p>경기 하남시 검단산로 239 하남시벤처센터 405호</p>
						<p>
						<!-- * 카카오맵 - 지도퍼가기 -->
						<!-- 1. 지도 노드 -->
						<div id="daumRoughmapContainer1607833282192" class="root_daum_roughmap root_daum_roughmap_landing" style="width:100%"></div>
						<!--
							2. 설치 스크립트
							* 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
						--> 
						<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
						<!-- 3. 실행 스크립트 -->
						<script charset="UTF-8">
							new daum.roughmap.Lander({
								"timestamp" : "1607833282192",
								"key" : "23g5i",
								"mapHeight" : "360"
							}).render();
						</script>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- END .gtco-client -->
		<th:block th:replace="include/footer.html"></th:block>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
	<!-- Login -->
	<script src="js/userLogin.js"></script>

	</body>
</html>

